  <div>
        <h3 class="f4 b lh-title mb2 primary">Share this post!</h3>
        <ul class="mhn2">
            {{ partial "social-share-icons" (dict "link" "https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffreelanc.io" "svg" "icons-facebook") }}
            {{ partial "social-share-icons" (dict "link" "https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=http%3A%2F%2Ffreelanc.io" "svg" "icons-twitter") }}
        </ul>
    </div>