{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <!--breadcrumbs-->
      {{ $.Scratch.Add "path" .Site.BaseURL }}
      <ol class="breadcrumbs">
        <li><a href="/" class="material-icons">home</a></li>
        {{ range $index, $element := split .Permalink "/" }}
          {{ $.Scratch.Add "path" $element }}
            {{ if ne $element "" }}
            <li><a href='{{ $.Scratch.Get "path" }}'>{{ replace . "-" " " }}</a></li>
            {{ $.Scratch.Add "path" "/" }}
            {{ end }}
        {{ end }}
      </ol>
      <!--end breadcrumbs-->
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
      {{ template "_internal/disqus.html" . }}
      </div>
    </div>
 
  </div>
  {{ end }}



